Repository Cezerin2/Cezerin2, pull requests merged in 2020-05, with the labels that each got.

#33 Update package.json
  package.json
Labels: bug

#36 basic cookie banner default html
  src/api/server/setup.js
Labels: dependencies

#40 account profile edit save fix
  config/default.js
  config/server.js
  src/api/server/ajaxRouter.js
  src/store/shared/actions.js
  theme/src/components/account/index.js
Labels: bug

#43 Increase node version
  package.json
  yarn.lock
Labels: dependencies

#46 Update config.yml
  .circleci/config.yml
Labels: enhancement

#49 Adding docker file.
  Dockerfile
Labels: enhancement

#50 Update Dockerfile
  Dockerfile
Labels: enhancement

#51 Moving greetings to workflow.
  .github/workflows/greetings.yml
Labels: bug

#52 Create FUNDING.yml
  .github/FUNDING.yml
Labels: enhancement

#54 Update Dockerfile
  Dockerfile
Labels: bug

#55 Fixed theme html prettier error.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labeler.yml
  .github/workflows/docker-image.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/node.js.yml
  .github/workflows/stale.yml
  .prettierignore
  src/admin/client/index.html
  theme/index.html
Labels: bug, enhancement

#57 Updating config
  config/admin.js
  config/admin.production.js
  config/default.js
  config/server.production.js
  config/store.js
  config/store.production.js
Labels: enhancement

#60 Revert "Updating config"
  config/admin.js
  config/admin.production.js
  config/default.js
  config/server.production.js
  config/store.js
  config/store.production.js
Labels: bug

#59 Lint
  .prettierignore
Labels: enhancement

#61 Checking for development mode as env
  config/admin.js
  config/server.js
  config/store.js
Labels: enhancement

#64 Create config.yml
  .dependabot/config.yml
Labels: enhancement
