Repository Cezerin2/Cezerin2, pull requests merged in 2022-04, with the labels that each got.

#178 chore: API router to functions
  src/api/server/apiRouter.ts
  src/api/server/lib/security.ts
  src/api/server/routes/apps.ts
  src/api/server/routes/customerGroups.ts
  src/api/server/routes/customers.ts
  src/api/server/routes/files.ts
  src/api/server/routes/notifications.ts
  src/api/server/routes/orderStatuses.ts
  src/api/server/routes/orders.ts
  src/api/server/routes/pages.ts
  src/api/server/routes/paymentGateways.ts
  src/api/server/routes/paymentMethods.ts
  src/api/server/routes/productCategories.ts
  src/api/server/routes/products.ts
  src/api/server/routes/redirects.ts
  src/api/server/routes/settings.ts
  src/api/server/routes/shippingMethods.ts
  src/api/server/routes/sitemap.ts
  src/api/server/routes/theme.ts
  src/api/server/routes/tokens.ts
  src/api/server/routes/webhooks.ts
Labels: enhancement

#179 chore: Refactoring routes
  .github/dependabot.yml
  .github/workflows/validate.yaml
  src/api/server/routes/apps.ts
  src/api/server/routes/customerGroups.ts
  src/api/server/routes/customers.ts
  src/api/server/routes/files.ts
  src/api/server/routes/notifications.ts
  src/api/server/routes/orderStatuses.ts
  src/api/server/routes/orders.ts
  src/api/server/routes/pages.ts
  src/api/server/routes/paymentGateways.ts
  src/api/server/routes/paymentMethods.ts
  src/api/server/routes/productCategories.ts
  src/api/server/routes/products.ts
  src/api/server/routes/redirects.ts
  src/api/server/routes/settings.ts
  src/api/server/routes/shippingMethods.ts
  src/api/server/routes/sitemap.ts
  src/api/server/routes/theme.ts
  src/api/server/routes/tokens.ts
  src/api/server/routes/webhooks.ts
Labels: enhancement

#233 chore: Adding issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement, Editing Docs

#251 chore: Fixing theme locales
  theme/locales/si.json
  theme/locales/ta.json
Labels: bug

#250 feat: Updating react
  package.json
  public/admin-assets/css/style.css
  src/admin/client/index.html
  src/admin/client/index.tsx
  src/store/client/index.js
  src/store/server/pageRendering.js
  theme/index.html
  yarn.lock
Labels: enhancement

#249 chore: Fixing eslint warnings
  src/api/server/lib/dashboardWebSocket.ts
  src/api/server/lib/mongo.ts
  src/api/server/lib/utils.ts
  src/api/server/services/files.ts
  src/api/server/services/orders/orders.ts
  src/api/server/services/webhooks.ts
Labels: bug

#254 fix(admin): Updating dialog in products list
  src/admin/client/modules/products/listHead/components/buttons.tsx
Labels: bug, enhancement

#263 fix(server): Fixing eslint warnings
  src/api/server/ajaxRouter.ts
  src/api/server/lib/dashboardWebSocket.ts
  src/api/server/lib/mailer.ts
  src/api/server/lib/parse.ts
  src/api/server/services/theme/settings.ts
Labels: bug, enhancement

#267 fix(theme): Fixing theme locales
  theme/locales/si.json
Labels: bug

#272 feat(admin): Updating icons
  src/admin/client/modules/customerGroups/components/list.tsx
  src/admin/client/modules/customerGroups/head/components/buttons.tsx
  src/admin/client/modules/customers/filter/components/fields.tsx
  src/admin/client/modules/orderStatuses/head/components/buttons.tsx
  src/admin/client/modules/orders/listFilter/components/fields.tsx
  src/admin/client/modules/orders/listHead/components/buttons.tsx
  src/admin/client/modules/productCategories/components/list.tsx
  src/admin/client/modules/productCategories/components/multiselectList.tsx
  src/admin/client/modules/productCategories/head/components/buttons.tsx
  src/admin/client/modules/settings/redirects/list/components/headButtons.tsx
  src/admin/client/modules/settings/shipping/components/headButtons.tsx
Labels: enhancement

#269 chore: To async await
  src/api/server/paymentGateways/index.ts
Labels: enhancement

#270 fix(server): Fixing eslint warnings
  src/api/server/index.ts
  src/api/server/services/files.ts
  src/api/server/services/security/tokens.ts
Labels: bug, enhancement

#271 feat: Adding @types/ua-parser-js
  package.json
  yarn.lock
Labels: enhancement, dependencies

#281 fix(theme): Fixing eslint warnings
  theme/src/components/resetPassword/resetPassword.tsx
  theme/src/containers/category.tsx
  theme/src/containers/product.tsx
Labels: bug

#299 fix: Reverting (#287)
  package.json
  yarn.lock
Labels: bug, dependencies

#300 chore: Refactoring admin
  src/admin/client/index.tsx
  src/admin/client/lib/apiWebSocket.tsx
  src/admin/client/lib/auth.tsx
Labels: enhancement

#285 feat: Package updates
  docs/howtos.md
  package.json
  yarn.lock
Labels: enhancement, dependencies

#286 feat(theme): To react hooks
  theme/src/components/checkoutForm/index.tsx
  theme/src/components/checkoutForm/stepPayment.tsx
Labels: bug, enhancement

#284 feat: Adding react-final-form
  package.json
  yarn.lock
Labels: enhancement, dependencies

#283 fix(server): Regular expression security warning
  package.json
  src/api/server/services/customers/customers.ts
  src/api/server/services/orders/orders.ts
  src/api/server/services/products/products.ts
  yarn.lock
Labels: bug, enhancement, dependencies

#307 chore: Changing err to error
  src/admin/client/modules/customers/actions.tsx
  src/admin/client/modules/orders/actions.tsx
  src/admin/client/modules/productCategories/actions.tsx
  src/admin/client/modules/products/actions.tsx
  src/admin/client/modules/products/edit/additional/components/importProduct/index.tsx
  src/api/server/ajaxRouter.ts
  src/api/server/lib/logger.ts
  src/api/server/lib/mongo.ts
  src/api/server/lib/security.ts
  src/api/server/paymentGateways/StripeElements.ts
  src/api/server/routes/status.ts
  src/api/server/services/files.ts
  src/api/server/services/products/images.ts
  src/api/server/services/products/productCategories.ts
  src/api/server/services/products/products.ts
  src/api/server/services/security/tokens.ts
  src/api/server/services/settings/settings.ts
  src/api/server/services/theme/assets.ts
  src/api/server/services/theme/settings.ts
  src/api/server/services/theme/theme.ts
  src/store/server/loadState.js
  src/store/server/pageRendering.js
  src/store/server/readIndexHtml.js
  src/store/server/robotsRendering.js
  src/store/server/themeLocales.js
Labels: enhancement

#308 fix(server): Fixing eslint warnings
  src/api/server/services/products/images.ts
  src/api/server/services/products/products.ts
  src/api/server/services/settings/settings.ts
Labels: enhancement

#336 fix(admin): Fixing revoke token button
  src/admin/client/modules/settings/tokens/edit/components/form.tsx
Labels: bug

#339 feat(theme): Adding mobile in personal data edit
  src/api/server/ajaxRouter.ts
  theme/src/components/account/account.tsx
  theme/src/components/account/index.tsx
Labels: enhancement
